@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

//variables
$gradient: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
$error: hsl(0, 100%, 66%);
$white: hsl(0, 0%, 100%);
$lightGrayViolet: hsl(270, 3%, 87%);
$darkGrayViolet: hsl(279, 6%, 55%);
$veryDarkViolet: hsl(278, 68%, 11%);

body{
    height: 100vh;
    width: 100vw;
}

.headerContainer{
    background: $veryDarkViolet;
    width: 100%;
    height: 35%;
}

.backCardContainer{
    background-image: url(./interactive-card-details-form-main/images/bg-card-back.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    left: 30px;
}

.frontCardContainer{
    background-image: url(./interactive-card-details-form-main/images/bg-card-front.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    width: 375px;
    height: 285px;
    position: relative;
    right: 30px;
    bottom: 180px;
}

.cardLogo{
    background-image: url(./interactive-card-details-form-main/images/card-logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 70px;
    top: 80px;
}

.backCardNumbers{
    color: white;
    position: relative;
    top: 133px;
    left: 270px;
    font-size: 12px;
}

.cardNumbers{
    color: white;
    position: relative;
    top: 145px;
    font-size: 20px;
    left: 70px;
}

.cardName{
    color: white;
    position: relative;
    top: 165px;
    font-size: 12px;
    left: 70px;
}

.expiration{
    color: white;
    position: relative;
    top: 149px;
    font-size: 12px;
    left: 275px;
}

.bottomContainer{

}